.extended-mixtapes-header
  %h3
    Current Game

%section
  .submit-container
    = form_for @throw do |f|
      = f.hidden_field :frame_id, value: @game.current_frame.id
      = f.number_field :pins, placeholder: 'Knocked pins'
      = f.submit 'Submit Throw'

- if flash[:errors]
  .extended-mixtapes-header
    - flash[:errors].each do |error|
      %h3
        = error

.extended-mixtapes-header
  %h3
    Scores

%table.score-table.table.table-condensed.text-center
  %thead
    %tr
      %td{colspan: 3} 1
      %td{colspan: 3} 2
      %td{colspan: 3} 3
      %td{colspan: 3} 4
      %td{colspan: 3} 5
      %td{colspan: 3} 6
      %td{colspan: 3} 7
      %td{colspan: 3} 8
      %td{colspan: 3} 9
      %td{colspan: 3} 10
      %td{colspan: 3} Total
  %tbody
    %tr
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        = @game.frames[0].decorated_pins(0)
      %td{class: 'input-cell'}
        = @game.frames[0].decorated_pins(1)
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        = @game.frames[1]&.decorated_pins(0)
      %td{class: 'input-cell'}
        = @game.frames[1]&.decorated_pins(1)
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        = @game.frames[2]&.decorated_pins(0)
      %td{class: 'input-cell'}
        = @game.frames[2]&.decorated_pins(1)
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        = @game.frames[3]&.decorated_pins(0)
      %td{class: 'input-cell'}
        = @game.frames[3]&.decorated_pins(1)
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        = @game.frames[4]&.decorated_pins(0)
      %td{class: 'input-cell'}
        = @game.frames[4]&.decorated_pins(1)
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        = @game.frames[5]&.decorated_pins(0)
      %td{class: 'input-cell'}
        = @game.frames[5]&.decorated_pins(1)
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        = @game.frames[6]&.decorated_pins(0)
      %td{class: 'input-cell'}
        = @game.frames[6]&.decorated_pins(1)
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        = @game.frames[7]&.decorated_pins(0)
      %td{class: 'input-cell'}
        = @game.frames[7]&.decorated_pins(1)
      %td{class: 'input-cell no-border'} &nbsp;
      %td{class: 'input-cell'}
        = @game.frames[8]&.decorated_pins(0)
      %td{class: 'input-cell'}
        = @game.frames[8]&.decorated_pins(1)
      %td{class: 'input-cell'}
        = @game.frames[9]&.decorated_pins(0)
      %td{class: 'input-cell'}
        = @game.frames[9]&.decorated_pins(1)
      %td{class: 'input-cell'}
        = @game.frames[9]&.decorated_pins(2)
      %td{class: 'input-cell no-border', colspan: 3} &nbsp;
    %tr
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.frames[0]&.score || 0
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.frames[1]&.score || 0
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.frames[2]&.score || 0
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.frames[3]&.score || 0
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.frames[4]&.score || 0
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.frames[5]&.score || 0
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.frames[6]&.score || 0
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.frames[7]&.score || 0
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.frames[8]&.score || 0
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.frames[9]&.score || 0
      %td{class: 'result-cell', colspan: 3}
        %h2
          = @game.score
